{% extends 'pins/base.html' %}

{% block content %}
  <h2>Change Password</h2>
  <form method="post">
    {% csrf_token %}
    <table class="table borderless">
      <tr>
        <td><label for="{{ form.old_password.id_for_label }}">Old Password:</label></td>
        <td>{{ form.old_password }}</td>
      </tr>
      <tr>
        <td><label for="{{ form.new_password1.id_for_label }}">New Password:</label></td>
        <td>{{ form.new_password1 }}</td>
      </tr>
      <tr>
        <td><label for="{{ form.new_password2.id_for_label }}">Confirm New Password:</label></td>
        <td>{{ form.new_password2 }}</td>
      </tr>
    </table>
    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
{% endblock %}
