{% extends 'pins/base.html' %}
{% load static %}
{% block content %}
<h1>Welcome to <span class="heading-effect">Pins Studio😉</span></h1>

<div class="header-controls">
    <a href="{% url 'upload_pin' %}" class="btn btn-upload">Upload a Pin</a>
    <form method="get" class="search-form">
        <div class="search-container">
            <input type="text" name="q" value="{{ query }}" placeholder="Search" class="form-control search-input" />
            <button type="submit" class="btn btn-search">Search</button>
        </div>
    </form>
</div>

<div class="row" id="pins-container">
    {% include 'pins/pin_card.html' with pins=pins %}
</div>

<div id="loading" style="display: none; text-align: center; padding: 20px;">
    Loading more pins...
</div>

<script src="{% static 'pins/js/infinite_scroll.js' %}"></script>
{% endblock %}
