{% extends 'pins/base.html' %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    <table class="table borderless">
      <tr>
        <td><label for="{{ form.username.id_for_label }}">Username:</label></td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td><label for="{{ form.password.id_for_label }}">Password:</label></td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>

  <div>
    Don't have an account? <a href="{% url 'signup' %}">Sign Up here</a>
  </div>
{% endblock %}
