{% extends 'pins/base.html' %}
{% load static %}
{% block content %}
<div class="card">
    <h2 class="heading-effect">Login</h2>
    <form method="post" class="profile-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-gradient">Login</button>
    </form>
    <div class="form-group text-center">
        <p>Don't have an account? <a href="{% url 'signup' %}" class="link-styled">Sign Up here</a></p>
    </div>
</div>
{% endblock %}
