Django>=5.0.9
python-decouple>=3.8
dj-database-url>=2.2.0
mysqlclient
whitenoise==6.7.0
gunicorn>=23.0.0
Pillow>=10.4.0
requests>=2.32.3
cloudinary==1.41.0
django-cloudinary-storage==0.3.0
# psycopg2-binary==2.9.9  # Uncomment for production with PostgreSQL
